/* .container-posts {
  max-width: 900px;
  margin: 0 auto;
  padding: 40px 0;
}

.post-wrap {
  display: flex;
  justify-content: space-between;
  gap: 32px;
}

.posts {
  display: flex;
  flex-direction: column;
  gap: 40px;
  flex-basis: 80%;
}

.popular-wrap {
  flex-basis: 20%;
}

.popular-posts {
  font-size: 16px;
  text-transform: uppercase;
  color: antiquewhite;
}

.no-posts {
  font-size: 24px;
  text-align: center;
  color: antiquewhite;
  padding: 40px 0;
} */
