/* .post-item__container {
  display: flex;
  flex-direction: column;
  flex-basis: 25%;
  flex-grow: 1;
}

.image-wrap {
  display: flex;
  border-radius: 4px;
  height: 320px;
}

.image-wrap-two {
  display: flex;
  border-radius: 4px;
}

.img-post {
  object-fit: cover;
  width: 100%;
}

.user-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 8px;
}

.username {
  font-size: 16px;
  color: rgb(56, 56, 55);
  opacity: 0.8;
}

.data {
  font-size: 16px;
  color: rgb(56, 56, 55);
  opacity: 0.8;
}

.post-title {
  color: rgb(56, 56, 55);
  font-size: 24px;
}

.text-post {
  color: rgb(56, 56, 55);
  opacity: 0.8;
  font-size: 16px;
  padding-top: 8px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
}

.icons-wrap {
  display: flex;
  gap: 12px;
  align-items: center;
}

.views {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: rgb(56, 56, 55);
  font-size: 16px;
  opacity: 0.8;
}

.coments {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: rgb(56, 56, 55);
  font-size: 16px;
  opacity: 0.8;
}

.no-posts {
  font-size: 24px;
  text-align: center;
  color: antiquewhite;
  padding: 40px 0;
} */
