/* .container {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1280px;
}

.login-form {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 473px;
  width: 50%;
  margin-top: 140px;
}

.login-title {
  display: flex;
  justify-content: center;
  font-size: 28px;
  color: white;
  margin-bottom: 50px;
}

.login-label {
  font-size: 24px;
  color: aliceblue;
}

.login-input {
  color: black;
  width: 380px;
  border-radius: 20px;
  background-color: azure;
  border: 2px solid;
  border-color: cadetblue;
  padding: 6px 10px;
  font-size: 18px;
  outline: none;
  margin-bottom: 40px;
}

@media (max-width: 620px) {
  .login-input {
    width: 280px;
  }
}

.password-label {
  font-size: 24px;
  color: aliceblue;
}

.password-input {
  color: black;
  width: 380px;
  border-radius: 20px;
  background-color: azure;
  border: 2px solid;
  border-color: cadetblue;
  padding: 6px 10px;
  font-size: 18px;
  outline: none;
}

@media (max-width: 620px) {
  .password-input {
    width: 280px;
  }
}

.button-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 40px;
}

.btn-login {
  border-radius: 20px;
  background-color: cadetblue;
  color: aliceblue;
  padding: 8px 12px;
  width: 260px;
  transition: opacity 0.2s ease-in;
}

.btn-login:active {
  position: relative;
  top: 1px;
}

.btn-login:hover {
  opacity: 0.8;
}

@media (max-width: 620px) {
  .btn-login {
    width: 200px;
  }
}

.register {
  margin-top: 16px;
  color: rgba(38, 137, 236, 0.932);
} */
