/* .form {
  width: 33%;
  margin: 0 auto;
  padding: 50px 0;
}



.label-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-width: 2px;
  border-style: dotted;
  cursor: pointer;
  color: blanchedalmond;
  background-color: cadetblue;
  font-size: 16px;
  padding-top: 18px;
}

.file-input {
  visibility: hidden;
}

.img-wrap {
  object-fit: cover;
  padding: 8px 0;
}

.title-label {
  font-size: 20px;
  color: rgb(68, 65, 61);
  opacity: 70%;
}

.input-title {
  margin-top: 4px;
  color: black;
  width: 100%;
  border-radius: 10px;
  background-color: blanchedalmond;
  border: 1px;
  padding: 4px 8px;
  font-size: 16px;
  outline: none;
  margin-bottom: 10px;
}

.text-label {
  font-size: 20px;
  color: rgb(68, 65, 61);
  opacity: 70%;
}

.input-text {
  margin-top: 4px;
  color: black;
  width: 100%;
  border-radius: 10px;
  background-color: blanchedalmond;
  border: 1px;
  padding: 4px 8px;
  font-size: 16px;
  outline: none;

  resize: none;
  height: 180px;
}

.btn-wrap {
  display: flex;
  gap: 32px;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
}

.add-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  background-color: rgb(42, 179, 87);
  font-size: 16px;
  color: antiquewhite;
  border-radius: 10px;
  padding: 4px 8px;
}

.add-btn:active {
  position: relative;
  top: 1px;
}

.add-btn:hover {
  opacity: 0.8;
}

.cancel-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  background-color: rgb(161, 59, 102);
  font-size: 16px;
  color: antiquewhite;
  border-radius: 10px;
  padding: 4px 8px;
}

.cancel-btn:active {
  position: relative;
  top: 1px;
}

.cancel-btn:hover {
  opacity: 0.8;
} */
