/* .post-page__button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: cadetblue;

  font-size: 16px;
  border-radius: 8px;
  padding: 8px 16px;
}
.post-page__link {
  color: antiquewhite;
}

.post-page__container {
  display: flex;
  gap: 40px;
  padding: 32px 0;
}

.post-page__wrap {
  width: 66%;
}

.post-page__img-wrap {
  display: flex;
  flex-direction: column;
  flex-basis: 25%;
  flex-grow: 1;
}

.icons-wrap {
  display: flex;
  justify-content: space-between;
}

.icons {
  margin-top: 10px;
  display: flex;
  gap: 20px;
  color: rgb(56, 56, 55);
  font-size: 16px;
  opacity: 0.5;
}

.image-wrap2 {
  display: flex;
  border-radius: 4px;
  height: 320px;
}

.image-wrap-two2 {
  display: flex;
  border-radius: 4px;
}

.post-page__comments {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 33%;
  padding: 32px;

  border-radius: 6px;
}

.text-posts {
  max-width: 800px;
  color: rgb(56, 56, 55);
  opacity: 0.8;
  font-size: 16px;
  padding-top: 8px;
}

.comment-form {
  display: flex;
  gap: 8px;
}

.comment-input {
  color: black;
  width: 100%;
  border-radius: 4px;
  border: 1px;
  background-color: antiquewhite;
  padding: 8px;
  font-size: 16px;
  outline: none;
}

.comment-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: cadetblue;
  font-size: 16px;
  border-radius: 20px;
  padding: 8px 16px;
} */
